@()
<!doctype html>

<html ng-app="meecarros">
<meta charset="UTF-8">
<title>Meecarros</title>
<meta name="viewport" content="width=device-width">
<!-- build:css -->
<link rel="stylesheet"
	href="vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="resources/css/style.css">
<link rel="stylesheet" href="resources/css/owfont-regular.min.css">
<link rel="stylesheet"
	href="vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="vendor/bootstrap-combobox/css/bootstrap-combobox.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Oswald">

<body ng-controller="meecarrosController" class="body">
	<div class="container">
		<br />
		<div class="row jumbotron title shadow-5"
			style="background: url('resources/car-bg.png')">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2 class="text-right no-padding">Meecarros</h2>
			</div>
		</div>

		<div class="row">
			<div id="equalheight">
				<form name="cityForm" novalidate
					ng-submit="submitForm(cityForm.$valid)">

					<div
						class="col-xs-12 col-sm-12 col-md-11 col-lg-11 no-padding-width">
						<label>Token do Pipedrive:</label> <input type="text"
							class="form-control" placeholder="Token do Pipedrive"
							ng-model="city" required ng-disabled="spinner || isTokenValid" name="name"
							id="token">
					</div>

					<div
						class="col-xs-12 col-sm-12 col-md-1 col-lg-1 no-padding-width demo"
						style="padding-top: 25px">
						<button type="submit " class="btn btn-group-justified" ng-class="{'btn-primary' : !isTokenValid, 'btn-danger' : isTokenValid}"
							ng-disabled="spinner">
							<i class="fa "
								ng-class="{ 'fa-spinner fa-pulse': spinner, 'fa-check': !spinner, 'fa-trash' : isTokenValid} "></i>
							{{!isTokenValid ? "Validar" : "Limpar"}}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<br />
	<br />

	<div ng-include="'partials/validationMessage.html'"
		ng-show="cityForm.name.$invalid && cityForm.$submitted"></div>

	<ui-view></ui-view>

	<!--<div ng-include="'partials/modalLogoff.html'"></div>-->
	<div ng-include="'partials/modalConfirm.html'"></div>

	<!-- build:js -->
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="vendor/angular-local-storage/dist/angular-local-storage.min.js"></script>
	<script src="resources/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="vendor/angular-input-masks/angular-input-masks-standalone.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/controllers/meecarrosController.js"></script>
	<script src="javascripts/controllers/errorMessageController.js"></script>
	<script src="javascripts/controllers/carListController.js"></script>
	<script src="javascripts/controllers/carController.js"></script>
	<script src="javascripts/services/loginService.js"></script>
	<script src="javascripts/services/loadingService.js"></script>
	<script src="javascripts/directives/directives.js"></script>
	<script src="javascripts/config/interceptorsConfig.js"></script>
	<script src="javascripts/config/templatesConfig.js"></script>
	<script src="javascripts/interceptors/loadingInterceptor.js"></script>
	<script src="javascripts/interceptors/errorInterceptor.js"></script>
	<script src="javascripts/state/meecarrosState.js"></script>
	<!-- endbuild -->
	<script
		src="http://maps.google.com/maps/api/js?key=AIzaSyDOBDRoaVVHTE9c5PdjsdQYP3rTWUJTR_g"></script>
</body>

</html>
