<div class="container">
    <div class="row">
        <!--<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="background-color: orange">-->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 rounded" style="background: url('resources/bg1.png'); padding-top: 20px">
            <button class="btn btn-primary pull-right" type="button" style="width: 100px" ng-click="showCar()">Novo</button>
        
            <br/><br/>

            <div class="list-group">
                <a href="#" class="list-group-item clearfix" ng-repeat="car in cars" ng-click="showCar(car.id, $event)">
                    {{car.model}}
                    <span class="pull-right">
                    <button class="btn btn-xs btn-danger" id="delete" title="Excluir">
                        <span id="delete">
                            <i class="fa fa-trash" aria-hidden="true" id="delete"></i>
                        </span>
                    </button>
                    </span>
                </a>
            </div>

            <div class="alert alert-info" ng-show="cars.length == 0">
                <span>Nenhum carro adicionado.</span>
            </div>
        </div>

        <ui-view></ui-view>
    </div>
</div>