<div class="modal hide fade" id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                O formulário foi editado. Todas as informações não salvas serão perdidas. Deseja prosseguir?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="no">Não</button>
                <a class="btn btn-primary btn-ok" data-dismiss="modal" data-backdrop="false" id="yes">Sim</a>
            </div>
        </div>
    </div>
</div>