@()
<!doctype html>

<html ng-app="meecarros">
<meta charset="UTF-8">
<title>Meecarros</title>
<meta name="viewport" content="width=device-width">
<!-- build:css -->
<link rel="stylesheet"
	href="vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="resources/css/style.css">
<link rel="stylesheet" href="resources/css/owfont-regular.min.css">
<link rel="stylesheet"
	href="vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="resources/bootstrap-combobox/css/bootstrap-combobox.css">
<link rel="stylesheet" href="vendor/angular-confirm/dist/angular-confirm.min.css">
<!-- endbuild -->

<link rel="shortcut icon" type="image/png" href="/favicon.png">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Oswald">


<body ng-controller="meecarrosController" class="body">
	<div class="container">
		<br />
		<div class="row jumbotron title shadow-5"
			style="background: url('resources/car-bg.png')">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2 class="text-right no-padding">Meecarros</h2>
			</div>
		</div>

		<div class="row">
			<div id="equalheight">
				<form name="tokenForm" novalidate
					ng-submit="submitForm(tokenForm.$valid)">

					<div
						class="col-xs-12 col-sm-12 col-md-11 col-lg-11 no-padding-width">
						<label>Token do Pipedrive:</label> <input type="text"
							class="form-control" placeholder="Token do Pipedrive"
							ng-model="token" required ng-disabled="isTokenValid" name="token"
							id="token">
					</div>

					<div
						class="col-xs-12 col-sm-12 col-md-1 col-lg-1 no-padding-width demo"
						style="padding-top: 25px">
						<button type="submit " class="btn btn-group-justified" ng-class="{'btn-primary' : !isTokenValid, 'btn-danger' : isTokenValid}"
							>
							<i class="fa "
								ng-class="{ 'fa-sign-in': !isTokenValid, 'fa-sign-out' : isTokenValid} "></i>
							{{!isTokenValid ? "Login" : "Logoff"}}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<br />
	<br />

	<div ng-include="'partials/validationMessage.html'" ng-show="tokenForm.token.$invalid && tokenForm.$submitted"></div>

	<ui-view></ui-view>

	<!-- build:js -->
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="vendor/angular-local-storage/dist/angular-local-storage.min.js"></script>
	<script src="resources/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="vendor/angular-input-masks/angular-input-masks-standalone.min.js"></script>
	<script src="vendor/angular-confirm/dist/angular-confirm.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/controllers/meecarrosController.js"></script>
	<script src="javascripts/controllers/errorMessageController.js"></script>
	<script src="javascripts/controllers/carListController.js"></script>
	<script src="javascripts/controllers/carController.js"></script>
	<script src="javascripts/services/loginService.js"></script>
	<script src="javascripts/services/carService.js"></script>
	<script src="javascripts/services/personService.js"></script>
	<script src="javascripts/services/colorService.js"></script>
	<script src="javascripts/services/loadingService.js"></script>
	<script src="javascripts/services/modalService.js"></script>
	<script src="javascripts/config/interceptorsConfig.js"></script>
	<script src="javascripts/config/templatesConfig.js"></script>
	<script src="javascripts/interceptors/errorInterceptor.js"></script>
	<script src="javascripts/state/meecarrosState.js"></script>
	<!-- endbuild -->
</body>

</html>
